ul(class='nav nav-submenu justify-content-center')
    li(class="nav-item")
        a(class='nav-link', href='/customers') Заказчики
    li(class="nav-item")
        a(class='nav-link', href='/type-of-check') Вид проверки
    li(class="nav-item")
        a(class='nav-link', href='/tests') Список проверок
    li(class="nav-item")
        a(class='nav-link', href='/laboratories') Отделы