extends ../layout

block content
    include registry-nav.pug
    div(class="container")
        h3= title

        div(class="row")
            div(class="col-sm-9")
                ul
                    each item in data
                        li= item.name