extends layout

block content
  h1 Лаборатория
  ul
    li
      a(class='button', href='/registry') Прием проб
    li
      a(class='button', href='/chemistry-lab') Химическая лаборатория
    li
      a(class='button', href='/bacteriology-lab') Бактериологическая лаборатория
    li
      a(class='button', href='/staff') Специалисты
