extends layout

block content
  h1 Лаборатория

  nav(class='nav')
      a(class='nav-link', href='/registry') Прием проб
      a(class='nav-link', href='/chemistry') Химическая лаборатория
      a(class='nav-link', href='/bacteriology') Бактериологическая лаборатория
      a(class='nav-link', href='/staff') Специалисты
