doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/jquery-ui.css')
        link(rel='stylesheet', href='/css/fontawesome.css')
        link(rel='stylesheet', href='/css/style.css')
        script(src="/js/jquery-3.4.1.min.js")
        script(src="/js/jquery-ui.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/main.js")
    body
        div(class="print-page container")
            a(href="javascript:window.print()") Распечатать текущую страницу
        h1
            a( href="/" ) Лаборатория

        ul(class='nav nav-menu justify-content-center')
            li(class="nav-item")
                a(class='nav-link', href='/registry') Прием проб
            li(class="nav-item")
                a(class='nav-link', href='/lab-reports') Результаты анализов
            li(class="nav-item")
                a(class='nav-link', href='/staff') Специалисты

        block content