extends layout

block content
    div(class="container")
        h3= title

        div(class="row")
            div(class="col-sm-9")
                ul
                    each item in data
                        li= item.name
            div(class="col-sm-3")
                div
                    a(href="/customers") Список заказчиков
                div
                    a(href="/type-of-check") Вид проверки
                div
                    a(href="/laboratories") Отделы