body {
    padding: 10px 30px 70px 30px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
    margin-top: 30px;
}

h1 {
    text-align: center;

}
h1 > a,
h1 > a:hover,
h1 > a:active,
h1 > a:visited {
    color: #1b1e21;
    text-decoration: none;
}

h3 {
    margin: 0 0 20px 0;
}

.btn {
    margin: 0 10px 0 0;
    height: 40px;
}

.btn.btn-action {
    width: 40px;
}

.nav-menu .nav-link {
    font-size: 18px;
    color: #000;
}

.nav-submenu .nav-link {
    font-size: 14px;
    color: #000;
}

.nav .nav-link.active {
    border: 1px solid #000;
}

.print-page {
    display: block;
    text-align: right;
}
.print-page > a {
    font-size: 12px;
    color: #000;
}
