body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
    margin-top: 30px;
}

a {
    color: #00B7FF;
}

h1 {
    text-align: center;

}
h1 > a,
h1 > a:hover,
h1 > a:active,
h1 > a:visited {
    color: #1b1e21;
    text-decoration: none;
}
