ul(class='nav nav-submenu justify-content-center')
    //li(class="nav-item")
    //    a(class='nav-link', href='/registry') Добавить специалиста
    li(class="nav-item")
        a(class='nav-link', href='/staff/positions') Должности
    //li(class="nav-item")
    //    a(class='nav-link', href='/staff') Специалисты